:root {
  --gray-dark: #333333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
}
.container {
  max-width: 1520px;
  width: 100%;
  padding: 32px 20px;
  margin: 0 auto;
}
.header__logo {
  box-sizing: border-box;
}
.header__search {
  cursor: pointer;
  box-sizing: border-box;
}
.header__menu {
  display: flex;
  gap: 16px;
  box-sizing: border-box;
}
.menu__text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: var(--gray-dark);
}
.menu__icon {
  cursor: pointer;
}

@media (max-width: 1024px) {
}

@media (max-width: 760px) {
  .header {
    padding: 32px 16px;
  }
  .header__logo {
    width: 96px;
    height: 38.07px;
  }
  .menu__text {
    display: none;
  }
  .header__search {
    display: none;
  }
}