:root {
  --gray-dark: #333333;
  --gray-light: #D6D6D6;
  --font-primary: "Rubik", sans-serif;
  --font-secondary: "Ubuntu", sans-serif;
  --mobile-slide-count: 3;
  --mobile-slide-height: 410px;
  --mobile-slide-gap: 32px;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}
html {
  font-family: var(--font-primary);
  color: var(--gray-dark);
}

/* HEADER */
.container {
  max-width: 1520px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.header__search {
  cursor: pointer;
}
.header__menu {
  cursor: pointer;
  display: flex;
  gap: 16px;
}
.menu__text {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 24px;
}

/* HERO SECTION */
.hero {
  margin-top: 160px;
  padding-top: 0px;
}
.hero__content {
  display: flex;
  gap: 60px;
}
.hero__label {
  font-family: var(--font-secondary);
  font-size: 34px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}
.hero__label::before {
  content: "";
  height: 0.5em;
  width: 48px;
  border-top: 2px solid var(--gray-dark);
  margin-right: 12px;
}
.hero__title {
  margin-top: 20px;
  font-size: 74px;
  font-weight: 400;
}
.hero__title--name {
  font-weight: bold;
}
.hero__subtitle {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
}
.hero__desc {
  margin-top: 20px;
  font-size: 24px;
}

.hero__scroll {
  margin-top: 56px;
  display: flex;
  align-items: center;
}
.social__items {
  display: flex;
  gap: 32px;
}
.scroll {
  display: flex;
  margin: auto;
  flex-direction: column;
  cursor: pointer;
}
.scroll__text {
  font-size: 18px;
  font-weight: 300;
}
.scroll__icon {
  margin-top: 12px;
  height: 32px;
}
.space {
  width: 100px;
  height: 65px;
}

/* ABOUTME SECTION */
.crate {
  max-width: 1262px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.aboutme {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
}
.aboutme__title {
  font-weight: 400;
  font-size: 36px;
}
.aboutme__video {
  margin-top: 60px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.video__poster {
  width:100%;
  height:100%;
}

/* SKILLS SECTION */
.skills {
  margin-top: 280px;
}
.skills__title {
  font-size: 54px;
  text-align: center;
  font-weight: 500;
}
.skills__swiper {
  margin-top: 60px;
}
.skill__box {
  padding: 78px 40px;
}
.skill__box__title {
  font-weight: 400;
  font-size: 46px;
}
.skill__box__desc {
  margin-top: 20px;
  font-size: 18px;
}
.skill__box__button {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.skill__box__read {
  font-weight: 600;
  font-size: 18px;
}
.box__dark {
  color: white;
  background-color: var(--gray-dark);
}
.box__light {
  background-color: var(--gray-light);
}
.skill__boxes__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px !important;
}
.skills__footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.filler {
  width: 65px;
}
.arrows {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

/* Swiper */
.swiper-button-next,
.swiper-button-prev {
  background-image: none;
  position: static;
  top: 0%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #333333;
}
.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 7px;
  background-color: #FFFFFF;
}
.swiper-pagination-bullets {
  margin: 0 0;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  transform: translate3d(0, 0, 0);
}

/* Tablet breakpoint */
@media (max-width: 1024px) {
  /* HERO SECTION */
  .hero {
    margin-top: 100px;
  }
  .hero__content {
    display: block;
  }
  .hero__image {
    margin-top: 56px;
  }
  .avatar {
    width: 100%;
  }
  .hero__scroll{
    justify-content: center;
    margin-top: 100px;
  }
  .scroll {
    display: none;
  }
  .space {
    display: none;
  }

  /* ABOUTME SECTION */
  .aboutme {
    margin-top: 200px;
  }

  /* SKILLS SECTION */
  .skills {
    margin-top: 200px;
  }
  .skills__swiper {
    height: calc(var(--mobile-slide-height) * var(--mobile-slide-count) + var(--mobile-slide-gap) * (var(--mobile-slide-count) - 1));
  }
  .skill__box {
    overflow-wrap: break-word;
    height: var(--mobile-slide-height) !important;
    padding: 116px 40px;
  }
  .skill__box__button {
    justify-content: flex-start;
    gap: 24px;
  }
}

/* Mobile breakpoint */
@media (max-width: 760px) {
  /* HEADER */
  .header {
    padding: 0px 16px;
  }
  .header__logo {
    width: 96px;
    height: 38.07px;
  }
  .menu__text {
    display: none;
  }
  .header__search {
    display: none;
  }

   /* HERO SECTION */
  .hero {
    margin-top: 70px;
  }
  .hero__label {
    font-size: 24px;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero__desc {
    font-size: 18px;
  }
  .hero__scroll {
    margin-top: 60px;
  }

   /* ABOUTME SECTION */
  .aboutme {
    margin-top: 180px;
  }
  .aboutme__title {
    font-size: 32px;
  }

  /* SKILLS SECTION */
  .skills {
    margin-top: 160px;
  }
  .skills__title {
    font-size: 40px;
  }
  .skill__box {
    padding: 62px 20px;
  }
  .skills__footer {
    justify-content: center;
  }
  .filler {
    display: none;
  }
  .arrows {
    display: none;
  }
}
